*{
  padding: 0;
  margin: 0;
  max-width: 100%;
}
.body{
   outline: groove;
   max-width: 100%;
 }
 .parent{
justify-content: center;
}

h1{
  background-color: darkblue;
  color: white;
  width: 100%;
}

header{
    text-align: center;
}

main{
    text-align: center;
}

.bigphoto{
  width: 310px;
  height: 300px;
  margin-left: 25px;
}

.foota{
  max-width: 100%;
  padding: 3%;
  padding-left: 35%;
}

/* tablet*/
@media only screen and (max-device-width:760px){
  body{
      background-color: cadetblue;
  }
}



@media only screen and ( max-device-width:480px) {
  p{
      background-color: blue;
      font-size: 40px;
      color: darkgray;
}
iframe{
  display: none;
 }  
h1{
  width: 40%;
}
}

